.task {
    background-color: white;
    border-radius: 10px;
    border: 2px solid gray;
    margin: 10px;
}

.task.late {
    background-color: white;
    border-radius: 10px;
    border: 6px solid red;
    margin: 10px;
}

.task.done {
    background-color: white;
    border-radius: 10px;
    border: 6px solid green;
    margin: 10px;
}

time {
    font-size: 1.2em;

}