.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 40px;
}

.button-add-task {
    background-color: #f1356d;
    border-radius: 5px;
    border-color: #fff;
    height: 40px;
    justify-items: center;
    
    
}

.popup {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-items: center;
}