.popup {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    top: 60%;
    left: 40%;
    background-color: #fff;
}

.popup label {
    display: block;
    text-align: left;
}

.popup h2 { 
    margin-bottom: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.popup input, .popup textarea, .popup select {
    width: 100%;
    padding: 6px, 10px;
    margin: 10px, 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

.popup button {
    background-color: #f1356d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}
