.lane {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
}

.lane header {
    display: flex;
    border-bottom: 5px solid gray;
    align-items: center;
    justify-content: space-between;
}

.lane h1 {
    text-align: center;

}